.login-wrapper {
  min-height: 75svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  border-radius: 18px;
}

.login-card input {
  height: 46px;
}

.login-card button {
  height: 46px;
  font-weight: 600;
}
