<div class="container d-flex justify-content-center align-items-center" style="height: 80svh;">
    <div class="card shadow-lg border-0" style="max-width: 800px; width: 100%;">
        <div class="card-body p-4">
            <h4 class="text-center fw-bold mb-3">Accedi al tuo account</h4>
            <p class="text-center mb-4">
                Accedi per continuare con i quiz e le simulazioni. Se non hai un account, registrati gratuitamente!
            </p>

            <form (ngSubmit)="login()">

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email"
                        placeholder="mariorossi@example.com" autocomplete="email" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password"
                        placeholder="Crea una password" autocomplete="new-password" required>
                </div>

                <button type="submit" class="btn btn-primary w-100 btn-lg">
                    Login
                </button>
            </form>

            <p class="text-center mt-4 mb-0">
                Non hai un account?
                <a routerLink="/signup" class="text-primary text-decoration-none">Registrati</a>
            </p>
        </div>
    </div>
</div>