<div class="login-wrapper">
  <div class="card login-card shadow-lg">

    <div class="text-center mb-3">
      <h2>📝 Registrati</h2>
      <p class="text-muted">Crea il tuo account</p>
    </div>

    <form>
      <div class="mb-3">
        <label class="form-label">Nome</label>
        <input 
          type="text" 
          class="form-control"
          placeholder="Il tuo nome"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input 
          type="email" 
          class="form-control"
          placeholder="nome@email.com"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input 
          type="password" 
          class="form-control"
          placeholder="••••••••"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Conferma Password</label>
        <input 
          type="password" 
          class="form-control"
          placeholder="••••••••"
        />
      </div>

      <button class="btn btn-success w-100 mt-2">
        Crea account
      </button>
    </form>

    <div class="text-center mt-3">
      <small>
        Hai già un account?
        <a routerLink="/login">Accedi</a>
      </small>
    </div>

  </div>
</div>
